<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Genres:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}"></td>
        <td th:text="${genre.name}"></td>
    </tr>
    </tbody>
</table>
<p><a href="/genreAdd">
    <button type="button"> Add a new genre</button>
</a></p>
<p><a href="/">
    <button type="button">Back to main page</button>
</a></p>
</body>
</html>
